<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>
<h2> <%= val.response%></h2>
<div class="content">
<p>User Summary(Latest transaction)</p>
<div class="data">
<div class="row">
<div class="head_text">Member</div>
<div class="head_text">Last Contribution</div>
<div class="head_text">Amount</div>
</div>
<%val.userdata.forEach(function(item) { %>
<div class="row">
   <div class="data_text">  <%= item.email %>
     <script>
	document.write('<a href="/getUser?' + '<%= item.email %>' + '">(view details)</a>');
</script>
</div>
	<div class="data_text"><%= item.amount %></div> <div class="data_text"><%= item.lastpaid.toDateString() %></div>
	</div>
    <% }); %>
    
 </div>   
    </div>
    <% include footer %>
</body>
</html>